<form  class="addproduct" [formGroup]="formProduct" novalidate (ngSubmit)="addProduct()">
  <div class="container">
    <h1>Add product</h1>
    <p>Please fill in this form to add product.</p>
    <hr>
    <label><b>Name</b></label>
    <input type="text" placeholder="Enter Name of product " name="name" required formControlName="name">
    <label><b>Description</b></label>
    <input type="text" placeholder="Enter Description" name="Description" required formControlName="description">
    <label><b>Cost</b></label>
    <input type="text" placeholder="Cost" name="Cost" required formControlName="cost">
    <label><b>Category</b></label>
    <select formControlName="category">
      <option *ngFor="let product of productCategory" value="{{product.name}}">{{product.name}}</option>
    </select>
    <hr>
    <button type="submit" class="addbtn" [disabled]="formProduct.invalid">Add</button>
  </div>
</form>
