@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

h1,p,b{
  color:  rgba(255,255,255,1);
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
* {box-sizing: border-box}

.addproduct{
  width: 500px;
  height: 520px;
  margin-left: 400px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #343434;
  border: 3px solid #343434;
  font-family: 'Roboto Slab', serif;
}

.addbtn{
  background-color: rgba(102,204,204,1);
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
  height: 35px;
  opacity: 1;
  margin-left: 120px;
}
