@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

.blockbtn{
  height: 35px;
  width: 175px;
  margin-left: 20%;
  text-align: center;
}

.userlist{
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
}

.blocktext{
  text-align: center;
  width: 10%;
}

table{
  background-color: white;
  height : 100px;
}

td{
  background-color: #3ad5d2 ;
  font-family: 'Exo 2', sans-serif;
  height: 50px;
  border: 5px solid white;
}
