<div class="userlist">
  <table>
    <thead>
    <tr>
      <td class="blocktext" scope="col">Name</td>
      <td class="blocktext" scope="col">Surname</td>
      <td class="blocktext">User Details Id</td>
      <td class="blocktext" scope="col">Balance</td>
      <td class="blocktext" scope="col">Block</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of siteCustomer">
      <td scope="row" class="blocktext">{{customer.firstName}}</td>
      <td scope="row" class="blocktext">{{customer.surname}}</td>
      <td class="blocktext">{{customer.userDetailsId}}</td>
      <td class="blocktext">{{customer.balance}}</td>
      <td><button class="blockbtn" (click)="block(customer.id)">Block</button></td>
    </tr>
    </tbody>
  </table>
</div>

