<div class="userlist">
  <table>
    <tr>
      <td class = "blocktext">Username</td><td class = "blocktext">Email</td><td class = "blocktext">Status</td><td class = "blocktext">Wallet balance</td><td class = "blocktext">Block</td>
    </tr>
    <tr>
      <td class = "blocktext">Alex1999</td><td class="blocktext">ivanov20@mail.ru</td><td class = "blocktext">Block</td><td class = "blocktext">1000</td><td><button class="blockbtn">Block</button></td>
    </tr>
    <tr>
      <td class = "blocktext">Marinka228</td><td class = "blocktext">marina@gmail.com</td><td class = "blocktext">Active</td><td class = "blocktext">1500</td><td><button class="blockbtn">Block</button></td>
    </tr>
  </table>
</div>
