@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
.search{
  margin-left: 30%;
  margin-top: 75px;
  margin-right: 30%;
}

.searchLine{
  width: 350px;
  height: 25px;
}
.searchsubmit{
  height: 25px;
  width: 100px;
}

* {
  margin: 0;
  padding: 0;
}

.content {
  min-height: calc(100vh - 80px);
}

