<ng4-loading-spinner> </ng4-loading-spinner>
<div class="posts">
  <table>
    <thead>
    <tr>
      <td class="tdmysub" scope="col">Name</td>
      <td  scope="col">Description</td>
      <td class="tdmysub" scope="col">Category</td>
      <td class="tdmysub" scope="col">Price</td>
      <td class="tdmysub" scope="col">Subscribe</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let catalogItem of catalogItem">
      <td scope="row">{{catalogItem.name}}</td>
      <td>{{catalogItem.description}}</td>
      <td>{{viewCategory[catalogItem.id - 1]}}</td>
      <td>{{catalogItem.cost}}</td>
      <td><button class="subbtn">Subscribe</button></td>
    </tr>
    </tbody>

  </table>
</div>
