@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

.posts{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

table{
  background-color: white;
   height : 100px;
}

td{
  background-color: #3ad5d2 ;
  font-family: 'Exo 2', sans-serif;
  height: 50px;
  border: 5px solid white;
}

.subbtn{
  background-color: #e7e7e7;
  color: black;
  font-size: 25px;
  width: 150px;
}

.tdmysub{
  width: 10%;
}

.name {
  background: #3ad5d2;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;

}

 .name:before,
 .name:after {
  border-style: solid;
  border-width: 8px 5px;
  border-color: transparent;
  content: '';
  height: 0;
  position: absolute;
  right: 10px;
  width: 0;
}
.name:before {
  border-bottom-color: black;
  top: 0;
}
 .name:after {
  border-top-color: black;
  bottom: 0;
}

