<ng4-loading-spinner> </ng4-loading-spinner>
<div class="posts">
  <table>
    <thead>
    <tr>
      <td class="tdmysub" scope="col"><button class="name" (click)="sortByName()">Name</button></td>
      <td  scope="col">Description</td>
      <td class="tdmysub" scope="col"><button class="name" (click)="sortByCategory()">Category</button></td>
      <td class="tdmysub" scope="col"><button class="name" (click)="sortByPrice()">Price</button></td>
      <td class="tdmysub" scope="col">Subscribe</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of catalogItem">
      <td scope="row">{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.category}}</td>
      <td>{{item.cost}}</td>
      <td><button class="subbtn" (click) = "subscribeProduct(item.id)">Subscribe</button></td>
    </tr>
    </tbody>

  </table>
</div>
