<div class="productlist">
  <table>
    <tr>
      <td class = "blocktext">Name</td><td class = "blocktext">Advertiser</td><td class = "blocktext">Cost</td><td class = "blocktext">Status</td><td class = "blocktext">Delete</td>
    </tr>
    <tr>
      <td class = "blocktext">Twitch</td><td class="blocktext">vladik322</td><td class = "blocktext">10</td><td class = "blocktext">Active</td><td><button class="blockbtn">Delete</button></td>
    </tr>
    <tr>
      <td class = "blocktext">Yandex music</td><td class = "blocktext">kate666</td><td class = "blocktext">15</td><td class = "blocktext">Pause</td><td><button class="blockbtn">Delete</button></td>
    </tr>
  </table>
</div>
