<div class="productlist">
  <table>
    <thead>
    <tr>
      <td class="blocktext" scope="col">Name</td>
      <td class="blocktext" scope="col">Number of subscriptions</td>
      <td class="blocktext">Cost</td>
      <td class="blocktext" scope="col">Status</td>
      <td class="blocktext" scope="col">Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of siteProduct">
      <td scope="row" class="blocktext">{{product.name}}</td>
      <td scope="row" class="blocktext">{{product.subscriptionCount}}</td>
      <td class="blocktext">{{product.cost}}</td>
      <td class="blocktext">{{product.status}}</td>
      <td><button class="blockbtn" (click)="deleteProduct(product.id)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
