<div class="advertiserslist">
  <table>
    <thead>
    <tr>
      <td class="blocktext" scope="col">Username</td>
      <td class="blocktext">User Details Id</td>
      <td class="blocktext" scope="col">Balance</td>
      <td class="blocktext" scope="col">Block</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let advertiser of siteAdvertiser">
      <td scope="row" class="blocktext">{{advertiser.name}}</td>
      <td class="blocktext">{{advertiser.userDetailsId}}</td>
      <td class="blocktext">{{advertiser.balance}}</td>
      <td><button class="blockbtn" (click)="block(prod)">Block</button></td>
    </tr>
    </tbody>
  </table>
</div>

