<div class="myproduct">
  <table>
    <tr>
      <td class = "tdmysub">Name</td><td class = "tdmysub">Category</td><td class = "tdmysub">Number of subscriptions</td><td class = "tdmysub">Price</td><td class = "tdmysub">Pause</td>
    </tr>
    <tr>
      <td>Yandex music</td><td>Music</td><td class = "tdmysub">10</td><td>2</td><td><button class="pausebtn">Pause</button></td>
    </tr>
    <tr>
      <td>Apple music</td><td>Music</td><td class = "tdmysub">15</td><td>3</td><td><button class="pausebtn">Pause</button></td>
    </tr>
  </table>
</div>
