<div class = "search">
  <form>
    <p><input type="search" name="q" placeholder="Поиск по сайту" class="searchLine">
      <input type="submit" value="Найти" class="searchsubmit"></p>
  </form>
</div>
<div class="mysub">
  <table>
    <tr>
      <td class = "tdmysub">Name</td><td class = "tdmysub">Category</td><td class = "tdmysub">Price</td><td class = "tdmysub">Subscribe</td>
    </tr>
    <tr>
      <td>Yandex music</td><td>Music</td><td>2</td><td><button class="unsubbtn">Unsubscribe</button></td>
    </tr>
    <tr>
      <td>Apple music</td><td>Music</td><td>3</td><td><button class="unsubbtn">Unsubscribe</button></td>
    </tr>
  </table>
</div>
