<div class="mysub">
  <table>
    <thead>
    <tr>
      <td class="tdmysub" scope="col">Name</td>
      <td class="tdmysub">Category</td>
      <td class="tdmysub" scope="col">Price</td>
      <td class="tdmysub" scope="col">Unsubscribe</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sub of mySubscription">
      <td scope="row">{{sub.name}}</td>
      <td>{{sub.category}}</td>
      <td>{{sub.cost}}</td>
      <td><button class="unsubbtn" (click)="unsubscribe(sub.id)">Unsubscribe</button></td>
    </tr>
    </tbody>
  </table>
</div>
