@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

header {
  float: left;
  background-color: #343434;
  width: 100%;
  padding: 0.3%;
  color: white;
  border-bottom: 5px solid #59595a;
}

header > div.logo > p {
  font-size: 2.5em;
  margin-left: 10px;
  font-family: 'Roboto Slab', serif;
}


.logo {
  float: left;
  width: 30%;
}

.panel {
  float: left;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login {
  display: block;
  float: right;
  width: 10%;
}

.panel {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  padding-top: 20px;
  justify-content: center;
}

.panel > a {
  color: white;
}

.panel > a:hover {
  color: #4b515b;
}

.panel > a:first-child {
  margin-right: 5%;
  margin-top: 1%;
}

.panel > a:nth-child(2){
margin-top: 1%;
}

.panel > a:last-child {
  margin-left: 5%;
  margin-top: 1%;
}

.login > a {
  color: black;
}

.login > a > div.btn {
  float: right;
  margin-right: 3%;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px 9px;
  font-size: 1.5em;
  background-color: rgb(204, 255, 255);
  text-shadow: #454545 0 0 1px;
  border-bottom: 4px solid rgba(255,204,204,1);
  font-family: 'Roboto Slab', serif;
}

.login > a:hover > div.btn {
  border-bottom: 2px solid rgba(255,204,204,1);
  margin-top: 7px;
}

.login > a:active > div.btn {
  border-bottom: 0;
  margin-top: 9px;
}
a {
  color: #fa713e;
  text-decoration: none;
  transition: all .6s ease;
}

a:hover {
  color: #c34f25;
  text-decoration: none;
  transition: all .6s ease;
}
